<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>EPGP查询</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../public/js/xlsx.full.min.js"></script>
    <nav class="navbar bg-white sticky-top">
        <nav class="nav nav-pills nav-fill" role="tablist" id="dungeon">
            <a class="nav-item nav-link active" id="navMCOny" data-toggle="pill" href="#divMCOny" role="tab" aria-controls="divMCOny" aria-selected="true">MC/黑龙</a>
            <a class="nav-item nav-link" id="navBWL" data-toggle="pill" href="#divBWL" role="tab" aria-controls="divBWL" aria-selected="false">BWL</a>
            <a class="nav-item nav-link" id="navTAQ" data-toggle="pill" href="#divTAQ" role="tab" aria-controls="divTAQ" aria-selected="false">TAQ</a>
            <a class="nav-item nav-link" id="navNAXX" data-toggle="pill" href="#divNAXX" role="tab" aria-controls="divNAXX" aria-selected="false">NAXX</a>
        </nav>
        <nav class="nav nav-pills nav-fill" id="epgporhistory">
            <a class="nav-item nav-link" id="prgradeNav" href="index.htm">分数</a>
            <a class="nav-item nav-link active" id="historyNav" href="history.htm">历史记录</a>
        </nav>
        <nav class="nav nav-pills nav-fill" id="classSearch">
            <form id="nameSearch">
                <input class="form-control" type="text" id="nameSearchInput" placeholder="输入游戏ID">
            </form>
        </nav>
    </nav>
    <div class="container epgpTable">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="divMCOny" role="tabpanel" aria-labelledby="navMCOny" data-name="active">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">游戏ID</th>
                            <th scope="col">原因</th>
                            <th scope="col">时间</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="divBWL" role="tabpanel" aria-labelledby="navBWL" data-name="none">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">游戏ID</th>
                            <th scope="col">原因</th>
                            <th scope="col">时间</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="divTAQ" role="tabpanel" aria-labelledby="navTAQ" data-name="none">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">游戏ID</th>
                            <th scope="col">原因</th>
                            <th scope="col">时间</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="divNAXX" role="tabpanel" aria-labelledby="navNAXX" data-name="none">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">游戏ID</th>
                            <th scope="col">原因</th>
                            <th scope="col">时间</th>
                        </tr>
                    </thead>
                    <tbody>
        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../public/js/history.js"></script>
    <!--<script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad();"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>-->
</body>
</html>